<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/my_restaurant_data">Data</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/my_restaurant_position">Position</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/my_restaurant_menu">Menu</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/my_restaurant_photo_gallery">Photo Gallery</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/list_reservations">List Reservations</a>
</li>