<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/my_restaurant_data">My Restaurant data</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/my_restaurant_position">My Restaurant address and position</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/my_restaurant_menu">My Restaurant Menu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/my_restaurant_photo_gallery">My Restaurant Photo Gallery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/list_reservations">List Reservations</a>
        </li>
    </ul>
</div>