.profile-head {
    transform: translateY(5rem)
}

.profile-cover {
    background: black;
    background-size: cover;
    background-repeat: no-repeat
}

.ratingStats {
    color: #ffc518 !important;
}