    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='js/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.js"></script>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
</body>
</html>