<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GoOutSafe</title>

    <link href="{{ url_for('static',filename='styles/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='styles/app.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    {% include 'navbar.html' %}
