{% include 'header.html' %}
<div class="row">
    <div class="col-lg-12">
        <h1>Reservation List</h1>
        <table border="1" class="text-center">
            <thead>
               <th>Reservation Date</th>
               <th>People Number</th>
               <th>Firstname</th>
               <th>Lastname</th>
               <th>Email</th>
               <th>Table name</th>
            </thead>
            {% for reservation in reservations_as_list %}
            <tr>
               <td>{{reservation.reservation_date}}</td>
               <td>{{reservation.people_number}}</td>
               <td>{{reservation.firstname}}</td>
               <td>{{reservation.lastname}}</td>
               <td>{{reservation.email}}</td>
               <td>{{reservation.tabname}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% include 'footer.html' %}