{% include 'header.html' %}
  <!-- Page Content -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 text-center">
          <h1 class="mt-5 mb-5">My Restaurant Data</h1>
          {% if message %}
              <div class="alert alert-success" role="alert">
                <b>Success</b><br>
                {{ message }}
              </div>
          {%  elif error%}
              <div class="alert alert-danger" role="alert">
                <b>Error</b><br>
                {{ error }}
              </div>
          {% endif %}
          <form class="form-signin"  action="" method="POST">
              {{ form.hidden_tag() }}
              <dl>
               {% for field in form.display %}
                   {% if form[field].name in only %}
                       <dt>{{ form[field].label(class_="sr-only") }}</dt>
                       <dd>{{ form[field](class_="form-control", placeholder=form[field].label.text) }}</dd>
                         {% if form[field].errors %}
                            {% for e in form[field].errors %}
                             <p class="help-block">{{ e }}</p>
                            {% endfor %}
                         {% endif %}
                   {% endif %}
               {% endfor %}
               {% if message %}
                  <div class="alert alert-danger" role="alert">
                      {{ message }}
                  </div>
              {% endif  %}
              </dl>
            <button class="btn btn-lg btn-success btn-block" type="submit">Update restaurant</button>
          </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
          <h1 class="mt-5 mb-5">My Restaurant Tables</h1>
          <button class="btn btn-success">Add Table</button>
          <table id="mytables" class="display" style="width:100%">
            <thead>
              <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th># of Seats</th>
                  <th>Action</th>
              </tr>
            </thead>
            <tbody>
                {% for table in tables %}
                    <tr>
                        <td>{{ table.id }}</td>
                        <td>{{ table.name }}</td>
                        <td>{{ table.max_seats }}</td>
                        <td><a href="/"><button class="btn btn-danger">Delete</button></a></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>
{% include 'footer.html' %}