{%  include "header.html" %}
  <!-- Page Content -->
  <div class="row py-5 px-4">
    <div class="col-md-8 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 profile-cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3"><img src="https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&w=130" alt="restaurant" width="130" class="rounded mb-2 img-thumbnail"></div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{ name }}</h4>
                        <p class="small mb-4"> <i class="fas fa-phone mr-2"></i>Phone: {{ phone }}</p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{ likes }}</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Likes</small>
                    </li>
                </ul>
            </div>
            {% if session['ROLE'] == 'CUSTOMER' %}
                <p align="center"><button class="btn btn-primary showBooking" data-id="{{ id }}">Book a Table</button></p>
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    <h5 class="mb-0">Info</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <b>Opening hours:</b><br>
                        <ul>
                        {% for hour in hours: %}
                            <li>{{ hour.week_day }} : {{ hour.open_lunch }} - {{ hour.close_lunch }}, {{ hour.open_dinner }} - {{ hour.close_dinner }}</li>
                        {% endfor %}
                        </ul>

                        <b>Phone:</b><br>
                        <p>{{ phone }}</p>

                        <b>Cuisine Type:</b><br>
                        <ul>
                        {% for c in cuisine: %}
                            <li>{{ c.cusine }}</li>
                        {% endfor %}
                        </ul>

                        <b>Anti-COVID Measures:</b><br>
                        <p>{{ covid_measures }}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5 class="mb-0">Map</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <iframe height="400" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                         src="https://www.openstreetmap.org/export/embed.html?bbox={{lon - 0.001}}%2C{{lat - 0.001}}%2C{{lon + 0.001}}%2C{{lat + 0.001}}&amp;layer=mapnik&amp;marker={{lat}}%2C{{lon}}" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=17/{{lat}}/{{lon}}">See it Larger</a></small>
                    </div>
                </div>
            </div>

            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Photos</h5>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb-2 pr-lg-1"><img src="https://images.unsplash.com/photo-1469594292607-7bd90f8d3ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-4 mb-2 pl-lg-1"><img src="https://images.unsplash.com/photo-1493571716545-b559a19edd14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-4 pr-lg-1 mb-2"><img src="https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                    <div class="col-lg-4 pl-lg-1"><img src="https://images.unsplash.com/photo-1475724017904-b712052c192a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- Booking Content -->
   <div class="modal" tabindex="-1" role="dialog" id="bookTable">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Booking</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/book" id="bookTableForm">
                <input type="hidden" name="restaurantID" id="restaurantID"/>
                <label>Date</label>
                <input type="text" class="form-control" name="date" placeholder="Date">
                <label>Time</label>
                <input type="text" class="form-control" name="time" placeholder="Time">
                <label>Number of People</label>
                <input type="text" class="form-control" name="people" placeholder="N. of people">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="newBook">Book!</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

{%  include "footer.html" %}


