{%  include "header.html" %}
  <!-- Page Content -->
  <div class="row py-5 px-4">
    <div class="col-md-8 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 profile-cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3"><img src="https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&w=130" alt="restaurant" width="130" class="rounded mb-2 img-thumbnail"></div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{ name }}</h4>
                        <p class="small mb-4"> <i class="fas fa-phone mr-2"></i>Phone: {{ phone }}</p>
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{ likes }}</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Likes</small>
                    </li>
                </ul>
            </div>
            {% if session['ROLE'] == 'CUSTOMER' %}
                <p align="center"><button class="btn btn-primary showBooking" data-id="{{ id }}">Book a Table</button></p>
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    <h5 class="mb-0">Info</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <b>Opening hours:</b><br>
                        <ul>
                        {% for hour in hours: %}
                            <li>{{ weekDaysLabel[hour.week_day] }} : {{ hour.open_lunch.strftime("%H:%M") }} - {{ hour.close_lunch.strftime("%H:%M") }}, {{ hour.open_dinner.strftime("%H:%M") }} - {{ hour.close_dinner.strftime("%H:%M") }}</li>
                        {% endfor %}
                        </ul>

                        <b>Phone:</b><br>
                        <p>{{ phone }}</p>

                        <b>Cuisine Type:</b><br>
                        <ul>
                        {% for c in cuisine %}
                            <li>{{ c.cusine }}</li>
                        {% endfor %}
                        </ul>

                        <b>Anti-COVID Measures:</b><br>
                        <p>{{ covid_measures }}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5 class="mb-0">Map</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <div id="map" style="height:400px"></div>
                    </div>
                </div>
            </div>

            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    {% if photos|length == 0 %}
                         <h5 class="mb-0">No photo uploaded yet</h5>
                    {% else %}
                         <h5 class="mb-0">Photos</h5>
                    {% endif %}
                </div>
                <div class="row">
                    {% for photo in photos %}
                        <div class="col-lg-4 mb-2 pr-lg-1"><img src="{{ photo.url }}" alt="" class="img-fluid rounded shadow-sm"><p class="text-center">{{ photo.caption }}</p></div>
                    {% endfor %}
                </div>
            </div>

            <!-- Review section -->
            <div class="py-4 px-4">
              <div class="row justify-content-center">
                <h2> What customers say about us.. </h2>
              </div>  
            </div>
            <div class="py-4 px-4">
              <div class="row">
                <div class="col-md-4">
                  <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                      <div class="ratingStats mr-auto" data-rating="4.5"></div>
                      <small>11 mins ago</small>
                      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="toast-body">
                      Hello, world! This is a toast message.
                    </div>
                  </div>
                </div>
                
              </div>
            </div>

            <div class="py-4 px-4">
              <div class="row justify-content-center">
                <button class="btn btn-primary" data-toggle="modal" data-target="#reviewRestaurant">Review this restaurant</button>
              </div>
            </div>


        </div>
    </div>
</div>

  <!-- Booking Content -->
   <div class="modal" tabindex="-1" role="dialog" id="bookTable">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Booking</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/book" id="bookTableForm">
                <input type="hidden" name="restaurantID" id="restaurantID"/>
                <label>Date</label>
                <input type="text" class="form-control" name="date" placeholder="Date">
                <label>Time</label>
                <input type="text" class="form-control" name="time" placeholder="Time">
                <label>Number of People</label>
                <input type="text" class="form-control" name="people" placeholder="N. of people">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="newBook">Book!</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



    <div class="modal" tabindex="-1" role="dialog" id="reviewRestaurant">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Review</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id ="reviewForm" action="/restaurant/review/{{ id }}" method="POST">
                <dl>
                 {% for field in review_form.display %}
                     <dt>{{ review_form[field].label(class_="sr-only") }}</dt>
                     <dd>{{ review_form[field](class_="form-control", placeholder=review_form[field].label.text) }}</dd>
                       {% if review_form[field].errors %}
                          {% for e in review_form[field].errors %}
                           <p class="help-block">{{ e }}</p>
                          {% endfor %}
                       {% endif %}
                 {% endfor %}
                 {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif  %}
                </dl>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="submitReview">Review!</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <script>
        var map = L.map('map').setView([{{ lat }}, {{ lon }}], 17);;
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);
        L.marker([{{ lat }}, {{ lon }}]).addTo(map);
    </script>
{%  include "footer.html" %}


