{% include 'header.html' %}
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
          <h1 class="mt-5 mb-5">Your Reservations</h1>
          <table id="myreservation" class="display" style="width:100%">
            <thead>
              <tr>
                  <th>#</th>
                  <th>Date</th>
                  <th>Restaurant</th>
                  <th>People</th>
                  <th># Table</th>
                  <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for reservation in reservations_as_list %}
                    <tr>
                        <td><a class="showBooking" href="#" data-id="{{ reservation.id }}">{{ reservation.id }}</a></td>
                        <td>{{ my_date_formatter(reservation.reservation_date) }}</td>
                        <td><a href="/restaurant/{{ reservation.rest_id }}">{{ reservation.name }}</a></td>
                        <td>{{ reservation.people_number }}</td>
                        <td>{{ reservation.id_table }}</td>
                        <td><button class="btn btn-primary deleteBooking" data-id="{{ reservation.id }}">Delete</button></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  </div>

<script>
    {% if deleted %}
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Your reservation has been canceled',
            showConfirmButton: false,
            timer: 1500
        });
    {% endif %}
</script>

{% include 'footer.html' %}